# Upstash Redis (via Vercel Marketplace)
KV_REST_API_URL=https://xxx.upstash.io
KV_REST_API_TOKEN=xxx

# Google Sheets CSV URL (File > Share > Publish to web > CSV)
GOOGLE_SHEETS_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-.../pub?output=csv
